{% extends 'django_bpaml_strava/base.html' %}
{% load tz %}
{% block main %}
{% if user.is_authenticated %}
<h2>Athlete</h2>
<table>
    <tr>
        <td>Name:</td>
        <td>{{ athlete.user.first_name }} {{ athlete.user.last_name }}</td>
    </tr>
    <tr>
        <td>Strava ID: </td>
        <td>{{ athlete.uid }}</td>
    </tr>
    <tr>
        <td>Parkrun ID:</td>
        <td>{{ athlete.user.parkrun_id|default_if_none:'' }}</td>
    </tr>
    <tr>
        <td>Goal time:</td>
        <td>{{ athlete.user.goal_duration|default_if_none:'' }}</td>
    </tr>
</table>
<h2>Saved activities</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Start time</th>
        <th>Description</th>
        <th>Device name</th>
        <th>Distance</th>
        <th>Strava duration</th>
        <th>Parkrun duration</th>
        <th>Parkrun location</th>
        <th>Volunteer</th>
        <th>Action</th>
        {% if user.is_superuser %}
            <th title="superuser only">Deviation</th>
        {% endif %}
    </tr>
    {% for activity in athlete.user.activity_set.all %}
    <tr>
        <td>{{ activity.activity_id }}</td>
        <td>{{ activity.date|date:"D d M Y" }}</td>
        <td>{% if activity.start_time_local %}{{ activity.start_time_local|date:"H:i" }} {{activity.timezone}}{% endif %}</td>
        <td>{{ activity.title }}</td>
        <td>{{ activity.device_name }}</td>
        <td>{{ activity.distance }}</td>
        <td>{% if activity.strava_duration %}{{ activity.strava_duration }}{% endif %}</td>
        <td>{{ activity.parkrun_duration }}</td>
        <td>{{ activity.location }}</td>
        <td>{% if activity.volunteer_event %}<a href="{{activity.volunteer_url}}" target="_blank">{{activity.volunteer_event}}</a>{% endif %}</td>
        <td>
            {% if activity.polyline %}
            <a href="{% url 'view-activity-map' athlete.uid activity.activity_id %}" title="plot track on OpenStreetMap">map</a>
            {% else %}
            {% if activity.duration_strava %}
                <span title="Can't plot map because missing polyline">no polyline</span>
            {% else %}
                <span title="Can't plot map because missing Strava with distance 4.7-5.3km starting before 7:10am">no Strava</span>
            {% endif %}
            {% endif %}
            |
            <a href="{% url 'delete-activity' athlete.uid activity.activity_id %}" title="does not delete from strava">delete</a>
        </td>
        {% if user.is_superuser %}
            <td>{{ activity.html_deviation|safe }}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
<p>
    <a href="{% url 'save-activities' athlete.uid %}" title="Saturday activities only for this athlete from Strava">fetch Strava activities</a>
</p>
<p>
    {% if athlete.user.parkrun_id %}
      <a href="{% url 'save-parkruns' athlete.uid %}" title="from Parkrun for this athlete">fetch Parkrun results</a>
    {% else %}
      <em title="edit member details and set Parkrun ID to be able to fetch Parkrun results or claim volunteer">No Parkrun ID</em>
    {% endif %}
</p>
<p>
    {% if athlete.user.parkrun_id %}
      <a href="{% url 'volunteer' athlete.uid %}" title="from Parkrun for this athlete">claim parkrun volunteer</a>
    {% endif %}
</p>
<p>
    <a href="{% url 'view-athlete-chart' athlete.uid %}">chart</a>
</p>
{% if user.is_superuser %}
<p>
    <a href="{% url 'calculate-deviation' athlete.uid %}" title="fetch splits from strava for all saved activities and calculate standard deviations">calculate deviations</a>
</p>
{% endif %}
<p>
    <a href="{% url 'delete-activities' athlete.uid %}" title="only deletes activities for this athlete from local database. does not delete from strava">delete saved activities</a> (does not delete from strava)
</p>
{% if list_strava_activities %}
<h2>Other strava activities</h2>
<table>
    <tr>
        <th>ID</th>
        <th>Local start time</th>
        <th>Description</th>
        <th>Device name</th>
        <th>Distance (m)</th>
        <th>Duration (s)</th>
        <th>Moving time (s)</th>
        <th>Action</th>
    </tr>
    {% for activity in list_strava_activities %}
    <tr>
        <td>{{ activity.id }}</td>
        <td>
            <div>{{ activity.start_time_local|date:"D d M Y H:i" }}</div>
        </td>
        <td>{{ activity.name }}</td>
        <td>{{ activity.device_name }}</td>
        <td>{{ activity.distance }}</td>
        <td>{{ activity.elapsed_time }}</td>
        <td>{{ activity.moving_time }}</td>
        <td><a href="{% url 'save-activity' athlete.uid activity.id %}">save</a></td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p><a href="{% url 'view-unsaved-activities-available-on-strava' athlete.uid %}" title="including those outside normal distance or start time requirements">view unsaved activities available on strava</a> (for manual saving)</p>
{% endif %}
{% else %}
<p>Please sign in to update member details</p>
{% endif %}
{% endblock %}
{% block nav-breadcrumbs %}
<nav aria-label="Breadcrumbs">
  <div class="breadcrumbs">
    <a href="{% url 'index' %}">Athletes</a>
    &gt;
    <a href="{% url 'athlete' athlete.uid %}">{{ athlete.user.first_name }} {{ athlete.user.last_name }}</a>
  </div>
</nav>
{% endblock %}
