{% extends 'django_bpaml_strava/base.html' %}
{% block main %}
<h1>Athletes in Betty's challenge</h1>
<table>
    <tr>
        <th>Name</th>
        {% if user.is_authenticated %}
        <th>Strava ID</th>
        <th>Parkrun ID</th>
        <th>Latest Strava</th>
        <th>Latest Parkrun</th>
        {% endif %}
        <th>Activities</th>
        <th>Volunteered</th>
        <th>Goal time</th>
        <th>Fastest time</th>
        {% if user.is_authenticated %}
        <th>action</th>
        {% endif %}
    </tr>
    {% for athlete in athletes %}
        <tr>
            <td>{{athlete.user.first_name}} {{athlete.user.last_name}}</td>
            {% if user.is_authenticated %}
            <td>{{athlete.uid}}</td>
            <td>{{athlete.user.parkrun_id|default_if_none:''}}</td>
            <td>{% if athlete.latest_strava %}{{athlete.latest_strava|date:"d M"}}{% endif %}</td>
            <td>{% if athlete.latest_parkrun %}{{athlete.latest_parkrun|date:"d M"}}{% endif %}</td>
            {% endif %}
            <td>{{athlete.user.activity_set.count}}</td>
            <td>{{ athlete.volunteered }}</td>
            <td>{{ athlete.user.goal_duration }}</td>
            <td>{{ athlete.fastest }}</td>
            {% if user.is_authenticated %}
            <td>
                {% if athlete.is_authenticated %}
                <a href="{% url 'view-activities' athlete.uid %}">view activities</a>
                {% endif %}
            </td>
            {% endif %}
        </tr>
    {% endfor %}
</table>
{% if user.is_superuser %}
<h3>Admin only</h3>
<p>
    <a href="{% url 'save-activities-all' %}" title="Saturday activities only from Strava">fetch all Strava activities</a>
</p>
<p>
    <a href="{% url 'save-parkruns-all' %}" title="from Parkrun">fetch all Parkrun results</a>
</p>
<p>
    <a href="{% url 'calculate-deviations-all' %}" title="from Strava">fetch all Strava split data to calculate deviations</a>
</p>
<p>
    <a href="{% url 'athletes-scores' %}" title="from Strava and Parkrun">score all the athletes in the competition and display the results</a>
</p>

{% endif %}
{% endblock %}
{% block nav-breadcrumbs %}
<nav aria-label="Breadcrumbs">
  <div class="breadcrumbs">
    <a href="{% url 'index' %}">Athletes</a>
  </div>
</nav>
{% endblock %}
