{% extends 'django_bpaml_strava/base.html' %}
{% block main %}
{% if user.is_authenticated %}
<h2>Authenticated user</h2>
<form action="{% url 'member-edit' %}" method="post">
{% csrf_token %}
    <table>
        <tr>
            <td>Email: </td>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="first-name" value="{{ user.first_name }}" size="20"><input type="text" name="last-name" value="{{ user.last_name }}" size="20"></td>
        </tr>
        <tr>
            <td>Parkrun ID:</td>
            <td>A<input type="text" name="parkrun-id" value="{{ user.parkrun_id|default_if_none:'' }}" size="10"></td>
            <td>Your Parkrun id excluding the initial letter "A" authorising this app to fetch your Parkrun results</td>
        </tr>
        <tr>
            <td>Goal time:</td>
            <td>
                <input type="text" name="goal-minutes" value="{{ goal_minutes|default_if_none:'' }}" size="4">
                :
                <input type="text" name="goal-seconds" value="{{ goal_seconds|default_if_none:'' }}" size="4">
            </td>
            <td>Your goal time in minutes and seconds e.g. 25:52</td>
        </tr>
    </table>
    <input type="submit" value="Save">
</form>
{% else %}
<p>Please sign in to update member details</p>
{% endif %}
{% endblock %}
{% block nav-breadcrumbs %}
<nav aria-label="Breadcrumbs">
  <div class="breadcrumbs">
    <a href="{% url 'index' %}">Athletes</a>
    &gt;
    <a href="{% url 'member-edit' %}">Update member details</a>
  </div>
</nav>
{% endblock %}